---
extends: default
ignore: |
  ansible/inventory/group_vars/vault.yml
  ansible/inventory/host_vars/*/vault.yml
rules:
  line-length:
    max: 120
    level: warning
  truthy:
    allowed-values: ["true", "false"]
    check-keys: false
  comments:
    min-spaces-from-content: 1
  comments-indentation: disable