{{- $id := .chezmoi.osRelease.id -}}
{{- $like := .chezmoi.osRelease.idLike | default "" -}}

{{- $family := "unknown" -}}
{{- if or (eq $id "debian") (eq $id "ubuntu") (contains "debian" $like) (contains "ubuntu" $like) -}}
{{-   $family = "debian" -}}
{{- else if or (eq $id "arch") (contains "arch" $like) -}}
{{-   $family = "arch" -}}
{{- end -}}

[data]
    distro_family = {{ $family | quote }}
    distro = {{ $id | quote }}
