{{- $id := .chezmoi.osRelease.id -}}
{{- $like := index .chezmoi.osRelease "idLike" | default "" -}}

{{- $family := "unknown" -}}
{{- if or (eq $id "debian") (eq $id "ubuntu") (contains "debian" $like) (contains "ubuntu" $like) -}}
{{-   $family = "debian" -}}
{{- else if or (eq $id "arch") (contains "arch" $like) -}}
{{-   $family = "arch" -}}
{{- end -}}

encryption = "age"

[age]
    identity = "~/.config/sops/age/keys.txt"

[edit]
    command = "code"
    args    = ["--wait"]

[data]
    username      = {{ .chezmoi.username | quote }}
    hostname      = {{ .chezmoi.hostname | quote }}
    shell         = {{ .chezmoi.shell | quote }}
    distro        = {{ $id | quote }}
    distro_family = {{ $family | quote }}
