# systemd-resolved configuration managed by Ansible
[Resolve]
DNS={{ system_dns_servers | join(' ') }}
FallbackDNS={{ system_dns_fallback_servers | join(' ') }}
DNSSEC={{ system_dns_dnssec }}
DNSOverTLS={{ system_dns_dns_over_tls }}
Cache=yes
