{
  "ExtensionInstallForcelist": [
{% for extension in browser_extensions %}
    "{{ extension.id }};{{ extension.update_url }}"{% if not loop.last %},{% endif %}
{% endfor %}
  ]{% if browser_extra_policies | length > 0 %},{% endif %}
{% for key, value in browser_extra_policies.items() %}
  "{{ key }}": {{ value | to_json }}{% if not loop.last %},{% endif %}
{% endfor %}
}
