[defaults]
inventory = inventory/hosts.yml
roles_path = roles
remote_user = charl
host_key_checking = False
retry_files_enabled = False
stdout_callback = default
result_format = yaml
hash_behaviour = merge
INJECT_FACTS_AS_VARS = True
log_path = /tmp/ansible-setup.log

[privilege_escalation]
become = True
become_method = sudo
become_user = root
