[defaults]
inventory            = inventory/hosts.yml
roles_path           = roles
remote_user          = charl
inject_facts_as_vars = true
log_path             = /tmp/ansible-setup.log
result_format        = yaml
stdout_callback      = default
host_key_checking    = false
hash_behaviour       = merge

[privilege_escalation]
become        = true
become_method = sudo
become_user   = root