[defaults]
inventory            = ansible/inventory/hosts.yml
roles_path           = ansible/roles
remote_user          = charl
interpreter_python   = auto_silent
stdout_callback      = default
result_format        = yaml
cow_selection        = tux
host_key_checking    = yes

[privilege_escalation]
become_method = sudo
