 ██╗    ██╗ █████╗ ██████╗ ███╗   ██╗██╗███╗   ██╗ ██████╗
 ██║    ██║██╔══██╗██╔══██╗████╗  ██║██║████╗  ██║██╔════╝
 ██║ █╗ ██║███████║██████╔╝██╔██╗ ██║██║██╔██╗ ██║██║  ███╗
 ██║███╗██║██╔══██║██╔══██╗██║╚██╗██║██║██║╚██╗██║██║   ██║
 ╚███╔███╔╝██║  ██║██║  ██║██║ ╚████║██║██║ ╚████║╚██████╔╝
  ╚══╝╚══╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝  ╚═══╝╚═╝╚═╝  ╚═══╝ ╚═════╝

 ╔══════════════════════════════════════════════════════╗
 ║  HOST    »  {{ ansible_facts.hostname | upper }}
 ║  OS      »  {{ ansible_facts.distribution }} {{ ansible_facts.distribution_version }}
 ║  KERNEL  »  {{ ansible_facts.kernel }}
 ╚══════════════════════════════════════════════════════╝

  ⚠  Unauthorized access is prohibited. All activity is logged.  ⚠

